@page "/personnew"
@using BlazorApp3.Data
@using Newtonsoft.Json;
@using System.Text;
@inject HttpClient Http

<h3>PersonNew</h3>
<div>
    <div class="row">
        <div class="col-md-4">
            <input placeholder="Enter Id" @bind="@idString" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input placeholder="Enter name" @bind="@nameString" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button @onclick="addPerson" class="btn btn-light">submit</button>
        </div>
    </div>
</div>


@code {
    private List<Person> persons = new List<Person>();
    private string idString = "";
    private string nameString = "";
    private int id;

    private async void addPerson()
    {
        if (int.TryParse(idString, out id))
        {
            if (nameString != "")
            {
                Person person = new Person(id, nameString);
                persons.Add(person);
                WriteTextAsync();
            }
        }
    }
    private async void WriteTextAsync()
    {

        string text = JsonConvert.SerializeObject(persons, Formatting.Indented);
        byte[] encodedText = Encoding.Unicode.GetBytes(text);

        using (FileStream sourceStream = new FileStream("sample-data/weather.json",
            FileMode.Create, FileAccess.Write, FileShare.None,
            bufferSize: 4096, useAsync: true))
        {
            await sourceStream.WriteAsync(encodedText, 0, encodedText.Length);
        };
    }
}
