@page "/persondata"
@using BlazorApp3.Data
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Person List</h1>


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Temp. (C)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Person[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<Person[]>("sample-data/weather.json");
    }

}
